.details{
    display: flex;
     flex-grow: 1;
     flex-flow: column wrap;
     padding: 0 3.5em 3.5em 3.5em;
     color: white;
     &__button{
         border: none;
        //  border: 2px solid black;
        // display:block;
        padding: 0.5em 2.5em;
        background-color: #2B3743;
        font-weight: 100;
        border-radius: 2px;
        margin: 0 1em;
        text-align: center;
        color: white;

        &__link{
            text-decoration: none;
            color: white;
        }
    }
    &__data{
        display: flex;
        flex-flow: row ;
       justify-content: center;
       align-items: center;
       border: 2px solid green;
       &__img{
           display: block;
           margin-right: 2em;
           border: 2px solid yellow;
           width:10rem;
           height:25rem;

       }
       &__info{
           border: 2px solid lightblue;
           display:flex;
           flex-flow: column nowrap;
           justify-content: center;
           align-items: flex-start;

           span{font-weight: 100;
        margin-left: 0.5em;}
        //    width: 50%;

           &__title{
               border: 2px solid red;
               font-size: 2em;
               font-weight: bold;
               margin-bottom: 1em;
           }
           &__Halves{
               border: 2px solid black;
               display: flex;
               flex-flow: row;
               justify-content: flex-start;
               align-items: flex-start;
               &__half{
                //    margin: 2em;
                   border:2px solid purple;
               }
           }
       }
       &__borderContainer{
           border: 2px solid orange;
           display: flex;
           align-items: center;
           justify-content: center;
           padding: 1em 0;
           &__title{
            //    border: 2px solid salmon;
           }
           &__buttonset{
            //    border: 2px solid red;
               display: flex;
               justify-content: center;
               align-items: center;
           }
       }

    }
}

.back{
    width: 14em;
    height: 2em;
}
