.country{
    // border: 2px solid gray;
    display: block;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 5px;
    background-color: #2B3743;
    padding-bottom: 1.7em;
    text-decoration: none;
    
    
    &__image{
        height: 10rem;
        img{
            display: block;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            width:100%;
            height: 100%;
        }
    }
    &__data{
        display:flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        padding: 1em;
        color: white;
            // align-items: stretch;

        &__title{
            font-size: 1.3rem;
            padding: 0.5em 0;  
            margin-bottom: 0.8em;
        }
        &__info{
           p {
               margin-bottom: 0.25em;
               font-weight: 300;
               span{
                   font-weight: 500;
                   margin-right: 0.25em;
               }
            }
        }
    }
}